body {
  background-color: Grey;
}

.card {
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 4px 4px 2px #888888;
  width: 120px;
  height: 164px;
  background-color: white;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  max-height: 164px;
  text-align: center;
  margin: 3px;
}


.rulecard, .actioncard {
  border:none;
  margin-top: 50%;
  font-weight: bold;
  font-size: larger;
  font-family: Impact, Impact5, Charcoal6, sans-serif;
  color: #FFFFFF;
}

.corner {
  position:absolute;
  padding-left: 10px;
  font-size: 10pt;
}

.rule .corner, .action .corner {
  margin-top: -68%;
}


.smallimg {  
  width: 100px;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.goal {
  background-color: rgba(65, 131, 196, 0.2);
}

.action {
  background-color: #455A64;
}

.rule {
  background-color: #607D8B;  
}

.card:hover {
  cursor: move;
}

.stack {
  width: 120px;
  height: 164px;
  margin: 3px;
}

.outerStack {
  border: 1px solid silver;
  width: 130px;
  height: 196px;
  background-color: DarkGrey;
  margin: 5px;
}

.label {
  padding: 3px;
  margin-bottom: 3px;
  background-color: silver;
  text-align: center;
}

#board {
  margin: 23px;
  background-color: WhiteSmoke;
  padding-top: 5px;
}

#rules, #field, #hand {
  margin: 10px;
  border: 1px solid DarkGrey;
  min-height: 190px;
}

#stacks {
  margin: 10px;
  border: 1px solid DarkGrey;
  height: 215px;
  text-align: center;
}

#stack, #goal, #discard {
  float: left;
}
