body {
  background-color: Grey;
}

.card {
  border: 1px solid silver;
  box-shadow: 4px 4px 2px #888888;
  width: 120px;
  height: 164px;
}

.smallcard {
  border: 1px solid silver;
  box-shadow: 4px 4px 2px #888888;
  width: 120px;
  height: 164px;
  background-color: white;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  margin: 3px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 1.0s linear;
}

.textcard {
  text-align: center;
  margin-top: 50%;
  color: SteelBlue;
  font-weight: bold;
  font-size: larger;
  font-family: Impact, Impact5, Charcoal6, sans-serif;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 1.0s linear;  
}

.label {
  text-align: center;
}

.smallimg {  
  max-height: 100%;  
  max-width: 100%; 
  width: 100px;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.card:hover, .smallcard:hover {
  cursor: move;
}

.stack {
  width: 120px;
  height: 164px;
  margin: 3px;
}

.outerStack {
  border: 1px solid silver;
  width: 130px;
  height: 196px;
  background-color: DarkGrey;
  margin: 5px;
}

.label {
  padding: 3px;
  margin-bottom: 3px;
  background-color: silver;
}

#board {
  margin: 23px;
  background-color: WhiteSmoke;
  padding-top: 5px;
}

#rules {
  margin: 10px;
  border: 1px solid DarkGrey;
  min-height: 190px;
}

#stacks {
  margin: 10px;
  border: 1px solid DarkGrey;
  height: 215px;
  text-align: center;
}

#field {
  margin: 10px;
  border: 1px solid DarkGrey;
  min-height: 190px;
}

#hand {
  margin: 10px;
  border: 1px solid DarkGrey;
  min-height: 190px;
}

#stack {
  float: left;
}

#goal {
  float: left;
}

#discard {
  float: left;
}

img.card.textcardback {
  margin-top: -74%;
  padding: opx;
}

.goalcardback {
  text-align: center;
  padding: 2px;
  background-color: white;
  width:115px;

  margin-left: -4px;
}

.front {
  
}
.back {
  font-size: 8pt;
  padding: 2px;
  transform: rotateY( 180deg );
}

.flipped {
  transform: rotateY( 180deg );
}